
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

body{
  font-family: 'Ubuntu', sans-serif;
}

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.kt-portlet__body{
  min-height: 185px;
}
#content-preloader {

    p{
      text-align: center;
      position: absolute;
      left: 40%;
      background-color: gray;
      padding: 20px;
      color: white;
      font-size: 1.3em;  
    }
}
a{
  &.btn{
    cursor: pointer;
    i{
      color:white;
    }
  }
}
tr{
  &.corrupt_block{
    background-color: red;
  }
}
/*.kt-login__logo{
  margin: 0 auto 1rem auto !important;
  img{
    width: 330px;
  }
}*/

